@import "partials/normalize";
@import "partials/utils";
@import "partials/base";
@import "partials/layout/header";
//@import "partials/components/..";

.logo-wrapper {
  //margin: 0;
  //padding: 0 1em 0 0;
  /*background-color: #222;*/
  /*border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;*/
  /*border: 1px #222 solid;*/
  //text-align: right;
}

.stats {
  padding: 0.25em 0.5em;
  /*background-color: #222;*/
  /*border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;*/
  /*border: 1px #222 solid;*/
  text-align: right;
}

.stats div {
  display: inline;
  padding: 0 0.5em;
}

.stats div span {
  font-weight: bold;
}

.box .stats {
  text-align: center;
  /*background-color: #282828;
  border-radius: 8px;*/
}

.main {
  padding: 1em;
  background-color: #141414;
}

.menu {
  /*border-radius: 8px;*/
  /*padding: 1em;*/
  /*background-color: #232323;*/
  /*background-color: #1b1b1b;*/
  /*color: #eee;*/
}

.box {
  /*border-radius: 8px;*/
  /*text-align: center;*/
  padding: 0.75em 0;
  /*background-color: #333;*/
}

.btn {
  border-radius: 0;
}

/*.left {
  background-color: #111;
  border: 1px #222 solid;
}


.stats span {
  font-weight: bold;
}*/
