body {
  background-color: $black;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  color: $white;
  @extend %primary-link-style; 
}

.container, .container-fluid {
  padding: 0;
}

h1, h2, h3 {
  text-align: center;
}

h2 {
  margin: 0.75em;
  font-size: 1.2em;
}

h3 {
  font-size: 1.1em;
}

p {
  margin: 0;
}

.btn {
  margin: 0.5em 0;
}

.hidden {
  display: none;
}
