/* utilities 
  1. =variables
  2. =mixins
  3. =placeholders
  4. =functions
*/

// 1. =variables
$white: #d8d8d8;
$grey: #141414;
$black: #080808;
$primary-color: $white;

$a: 'a, a:active, a:hover, a:visited';
$a-hover: 'a:active, a:hover';

// 2. =mixins

// 3. =placeholders

// 4. =functions
