@font-face {
  font-family: "cenobyte";
  src: url('../fonts/cenobyte.ttf');
}

header {
  margin: 2em 1em 1em 1em;
}

body {
  background-color: #000;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  color: #ddd;
  background-image: url('../imgs/bg_stars.jpg');
  background-repeat: repeat;
}

h1 {
  margin: 0;
  font-family: 'cenobyte', cursive;
  font-size: 4em;
  letter-spacing: 4px;
  color: #eee;
  text-align: center;
  text-shadow: 2px 2px 8px #000;
  cursor: default;
}

h2 {
  margin: 0 0 1em 0;
}

.wrapper {
  /*max-width: 1200px;*/
  display: flex;
  justify-content: center;
  padding: 0.5em;
}

.left {
  min-width: 125px;
  max-width: 225px;
  padding: 1em;
  background-color: #222;
  height: 100vh;
  width: 20%;
  text-align: center;
}

.middle {
  background-color: #000;
  padding: 1em;
  width: 60%;
  text-align: center;
}

.right {
  min-width: 125px;
  max-width: 225px;
  padding: 1em;
  background-color: #222;
  width: 20%;
}

.player-icon {
  margin: 0 0 0.5em 0;
  border: 2px #eee solid;
  border-radius: 50%;
}

.stats span {
  font-weight: bold;
}
.btns{
	background-color:#333;
	border: none;
	margin: 2px;
}





